body {
  text-align: center;
  font-family: Courier New, monospace;
}

.container {}

nav {
  text-align: right;
  position: absolute;
  top: .5vw;
  right: .5vw;
}

.navigation-toggle {
  display: inline-block;
  cursor: pointer;
  background-color: #7FFFD4;
  padding: .5vw 8vw;
}

.navigation-items {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0;
  background-color: #f1f1f1;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-items li {
  margin: 0;
  padding: 0;
}

.navigation-items a {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.navigation-items a:hover {
  background-color: #ddd;
}

nav:hover .navigation-items {
  display: block;
}
