body {
      text-align: center;
    }

    nav {
      display: inline-block;
      margin-bottom: 20px;
    }

    .navigation-toggle {
      display: none;
      cursor: pointer;
    }

    .navigation-items {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .navigation-items a {
      display: none;
      padding: 5px;
      margin: 0 10px;
      text-decoration: none;
      color: #333;
    }

    nav:hover .navigation-items {
      display: block;
    }
